header(class="bg-transparent p-3")
    div(class="container mx-auto flex justify-between items-center bg")
        div(class="flex flex-row ")
            div(class="dropdown mx-7")
                div(tabindex="0" role="button" class="btn btn-ghost btn-circle")
                    label.btn.btn-circle.swap.swap-rotate
                        input(type="checkbox")
                        svg(xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512")
                            path(d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z")

                ul(tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-zinc-900 rounded-box w-52")
                    div(class="join join-vertical")
                        button(class="btn join-item hover:bg-base-200")
                            a(href="/acerca-de") Acerca de

            a(href="/mis-proyectos" class="cursor-pointer mt-2 hidden lg:block md:block sm:block") 
                h1(class="bg-clip-text text-transparent text-2xl bg-gradient-to-r from-green-700 to-white font-extrabold text-center italic ") Gestión
                    span(class="text-xl font-extrabold text-white") Archivos    

        nav(class="text-white font-bold italic lg:text-lg lg:flex lg:flex-row lg:items-center md:items-center md:flex-row md:flex md:text-lg sm:items-center sm:flex sm:flex-col sm:gap-4 items-center flex flex-col gap-4")
            a(href="/nuevo-proyecto" class="px-10 lg:mr-4 md:mr-4") 
                button(class="btn btn-outline btn-accent hover:drop-shadow-[0_1px_60px_rgba(17,154,168,1)]") Nuevo proyecto
            form(action="/auth/cerrar-sesion" method="POST" class="") 
                input(type="hidden", name="_csrf", value=csrfToken)  
                input(type="submit" value="Cerrar Sesión" class="btn sm:w-[138px] w-full btn-nuetral hover:drop-shadow-[0_1px_60px_rgba(251,251,251,1)]")  
        