extends ../layout/index

block contenido
    div(class="py-10")
        a(href="/auth/registro" class="cursor-pointer") 
            h1(class="bg-clip-text text-transparent text-6xl bg-gradient-to-r from-green-700 to-white font-extrabold text-center italic ") Gestión
                span(class="text-4xl font-extrabold text-white") Archivos

                button ponte encima mio