extends ../layout/index

block contenido
    div(class="py-10")
        a(href="/mis-proyectos" class="cursor-pointer mb-16") 
            h1(class="bg-clip-text text-transparent text-8xl bg-gradient-to-r from-green-700 to-white font-extrabold text-center italic ") Gestión
                span(class="text-6xl font-extrabold text-white") Archivo

        h2(class="text-4xl font-extrabold text-white text-start italic mb-7 mt-16") ¿Como funciona Gestión Archivo?
        ul(class="")
            li 
                p(class="text-base font-bold text-white text-start italic my-5 ml-5") * Gestión Archivo te permite almacenar tus archivos de manera sencilla y segura.
            li 
                p(class="text-base font-bold text-white text-start  my-5 ml-5")  * Es conveniente que no subas archivos muy pesados, ya que el espacio de almacenamiento es limitado, el límite para cada archivo es de 150mb y hasta un máximo de 10 archivos por proyecto.
            li 
                p(class="text-base font-bold text-white text-start  my-5 ml-5")  * Gestión Archivo soporta la subida de multiples archivos a la vez, solo selecciona los archivos que deseas subir y listo.
            li 
                p(class="text-base font-bold text-white text-start italic my-5 ml-5")  * Puedes crear proyectos y subir archivos a cada uno de ellos, de esta manera podrás tener tus archivos organizados.
            li 
                p(class="text-base font-bold text-white text-start italic my- ml-5")  * Puedes modificar la información de tus proyectos en cualquier momento.
            li 
                p(class="text-base font-bold text-white text-start italic my-5 ml-5")  * Puedes eliminar proyectos y archivos en cualquier momento.

        h2(class="text-4xl font-extrabold text-white text-start italic my-7") Seguridad y privacidad
        ul
            li 
                p(class="text-base my-5 ml-5 font-bold text-white text-start italic") * Gestión Archivo te ofrece la posibilidad almacenar tus archivos de manera sencilla y segura.
            li 
                p(class="text-base my-5 ml-5 font-bold text-white text-start italic")  * Tus proyectos estan protegidos con una contraseña, por lo que solo tu podrás acceder a ellos.
            li 
                p(class="text-base my-5 ml-5 font-bold text-white text-start italic")  * Tu información personal no será compartida con terceros.
            li 
                p(class="text-base my-5 ml-5 font-bold text-white text-start italic")  * Toda tu información sensible estará protegida mediante cifrado.
            li 
                p(class="text-base my-5 ml-5 font-bold text-white text-start italic")  * No subas archivos con información sensible.

                