<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearTarea</servlet-name>
        <servlet-class>Servlet.Maquinaria.Tarea.CrearTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTarea</servlet-name>
        <servlet-class>Servlet.Maquinaria.Tarea.ModificarTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarTarea</servlet-name>
        <servlet-class>Servlet.Maquinaria.Tarea.BuscarTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTarea</servlet-name>
        <servlet-class>Servlet.Maquinaria.Tarea.EliminarTarea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearTipo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Tipo.CrearTipo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarTipo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Tipo.BuscarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTipo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Tipo.EliminarTipo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTipo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Tipo.ModificarTipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUbicacion</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Ubicacion.BuscarUbicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUbicacion</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Ubicacion.CrearUbicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUbicacion</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Ubicacion.EliminarUbicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUbicacion</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Ubicacion.ModificarUbicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarRegistro</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Registro.BuscarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearRegistro</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Registro.CrearRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarRegistro</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Registro.EliminarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarRegistro</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Registro.ModificarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMaterial</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Material.CrearMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarMaterial</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Material.BuscarMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMaterial</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Material.EliminarMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMaterial</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Material.ModificarMaterial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarConsumo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Consumo.BuscarConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearConsumo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Consumo.CrearConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarConsumo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Consumo.EliminarConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarConsumo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Consumo.ModificarConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mensaje</servlet-name>
        <servlet-class>Servlet.Telegram.Mensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUsuario</servlet-name>
        <servlet-class>Servlet.Telegram.Usuario.BuscarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>Servlet.Telegram.Usuario.CrearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Servlet.Telegram.Usuario.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>Servlet.Telegram.Usuario.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarBot</servlet-name>
        <servlet-class>Servlet.Telegram.Bot.BuscarBot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearBot</servlet-name>
        <servlet-class>Servlet.Telegram.Bot.CrearBot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarBot</servlet-name>
        <servlet-class>Servlet.Telegram.Bot.EliminarBot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarBot</servlet-name>
        <servlet-class>Servlet.Telegram.Bot.ModificarBot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuarioRegistro</servlet-name>
        <servlet-class>Servlet.UsuarioRegistro.CrearUsuarioRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionConsumo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Consumo.SeleccionConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encontrar</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Consumo.Encontrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Aceptar</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Consumo.Aceptar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncontrarConsumo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Material.EncontrarConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionMaterialConsumo</servlet-name>
        <servlet-class>Servlet.BalanceMasa.Material.SeleccionMaterialConsumo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearTarea</servlet-name>
        <url-pattern>/CrearTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTarea</servlet-name>
        <url-pattern>/ModificarTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarTarea</servlet-name>
        <url-pattern>/BuscarTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTarea</servlet-name>
        <url-pattern>/EliminarTarea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearTipo</servlet-name>
        <url-pattern>/CrearTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarTipo</servlet-name>
        <url-pattern>/BuscarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTipo</servlet-name>
        <url-pattern>/EliminarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarRegistro</servlet-name>
        <url-pattern>/BuscarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearRegistro</servlet-name>
        <url-pattern>/CrearRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarRegistro</servlet-name>
        <url-pattern>/EliminarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarRegistro</servlet-name>
        <url-pattern>/ModificarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUbicacion</servlet-name>
        <url-pattern>/BuscarUbicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUbicacion</servlet-name>
        <url-pattern>/CrearUbicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUbicacion</servlet-name>
        <url-pattern>/EliminarUbicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUbicacion</servlet-name>
        <url-pattern>/ModificarUbicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTipo</servlet-name>
        <url-pattern>/ModificarTipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMaterial</servlet-name>
        <url-pattern>/CrearMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarMaterial</servlet-name>
        <url-pattern>/BuscarMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMaterial</servlet-name>
        <url-pattern>/EliminarMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMaterial</servlet-name>
        <url-pattern>/ModificarMaterial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarConsumo</servlet-name>
        <url-pattern>/BuscarConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearConsumo</servlet-name>
        <url-pattern>/CrearConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarConsumo</servlet-name>
        <url-pattern>/EliminarConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarConsumo</servlet-name>
        <url-pattern>/ModificarConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mensaje</servlet-name>
        <url-pattern>/Mensaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUsuario</servlet-name>
        <url-pattern>/BuscarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarBot</servlet-name>
        <url-pattern>/BuscarBot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearBot</servlet-name>
        <url-pattern>/CrearBot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarBot</servlet-name>
        <url-pattern>/EliminarBot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarBot</servlet-name>
        <url-pattern>/ModificarBot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuarioRegistro</servlet-name>
        <url-pattern>/CrearUsuarioRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionConsumo</servlet-name>
        <url-pattern>/SeleccionConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encontrar</servlet-name>
        <url-pattern>/Encontrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Aceptar</servlet-name>
        <url-pattern>/Aceptar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncontrarConsumo</servlet-name>
        <url-pattern>/EncontrarConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionMaterialConsumo</servlet-name>
        <url-pattern>/SeleccionMaterialConsumo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
