extends ../layout/index

block contenido
    div(class="py-10")
        a(href="/auth/registro" class="cursor-pointer") 
            h1(class="bg-clip-text text-transparent text-6xl bg-gradient-to-r from-green-700 to-white font-extrabold text-center italic ") Gestión
                span(class="text-4xl font-extrabold text-white") Archivos
        
        h2(class="text-white text-2xl font-extrabold text-center mt-4 mb-14")= pagina
        
        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    div(role="alert" class="alert alert-error h-auto m-3")
                        svg(xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24")
                            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z")
                        span=error.msg

        div(class="mt-8 mx-3 lg:mx-auto lg:max-w-md md:mx-auto md:max-w-md sm:mx-auto sm:max-w-md drop-shadow-[0_1px_55px_rgba(17,154,168,1)] hover:drop-shadow-[0_1px_60px_rgba(17,154,168,1)]")
            div(class="bg-white py-8 px-4")
                form(action="/auth/registro" method="POST" noValidate)
                    input(type="hidden" name="_csrf" value = csrfToken)
                    div(class="my-3") 
                        label(for="nombre" class="block uppercase text-black italic font-bold") Nombre  
                        input(type="text" autocomplete="off" name="nombre" id="nombre" class="w-full px-3 py-2 border border-gray-400 rounded-md" placeholder="Nombre de usuario" value= usuario ? usuario.nombre : '')
                    div(class="my-3") 
                        label(for="email" class="block uppercase text-black italic font-bold mb-2") Correo electrónico  
                        input(type="email" autocomplete="off" name="email" id="email" class="w-full px-3 py-2 border border-gray-400 rounded-md" placeholder="ejemplo@correo.es" value= usuario ? usuario.email : '')
                    div(class="my-3") 
                        label(for="password" class="block uppercase text-black italic font-bold mb-2") password  
                        input(type="password" name="password" id="password" class="w-full px-3 py-2 border border-gray-400 rounded-md")
                    div(class="my-3") 
                        label(for="rpassword" class="block uppercase text-black italic font-bold mb-2") repite password  
                        input(type="password" name="rpassword" id="rpassword" class="w-full px-3 py-2 border border-gray-400 rounded-md")
                    
                    div(class="flex mt-7 justify-between")
                        a(class="text-xs" href="/auth/login") Iniciar Sesión
                    
                    input(type="submit" value="Aceptar" class="w-full bg-green-400 text-white font-bold text-2xl rounded-xl uppercase py-2 mt-12 hover:bg-green-500")
    
    