doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/estilos.css")
        block styles
        title Gestion Archivos | #{pagina}
        
    body(class="min-h-screen bg-zinc-900")
        include includes/header-admin

        main(class="lg:mx-auto md:mx-auto container lg:px-2 md:px-2")
            block contenido    

            block scripts