doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/estilos.css")
        link(rel="stylesheet", href="/css/estilos2.css")
        block styles
        title Gestion Archivos
        
    body(class="min-h-screen", style="background-image: url('/img/inicio.jpg'); opacity: 1;")

        main(class="mx-auto container px-2" )
            block contenido
